---
import '../styles/styles.css'
---

<main>
	<img class="logo" src="/images/logo-light-theme.svg" alt="Character Counter">
	<button class="theme-toggle">Change theme</button>

	<h1 class="main-heading">Analyze your text in real-time.</h1>

	<textarea class="text-input" name="" id="text-area" placeholder="Start typing here… (or paste your text)"></textarea>

	<div class="custom">
		<label for="ExcludeSpaces">
			Exclude Spaces
			<input type="checkbox" name="" id="ExcludeSpaces">
		</label>
	
		<label for="SetCharLimit">
			Set Character Limit
			<input type="checkbox" name="" id="SetCharLimit">
		</label>
	
		<p>Approx. reading time: 2 minutes</p>
	</div>


	<p class="counter   counter--chars">
		<b data-char-display>0</b> Total Characters
	</p>

	<p class="counter   counter--words">
		<b data-word-display>0</b> Word Count
	</p>
	
	<p class="counter   counter--sentence">
		<b data-sentence-display>0</b> Sentence Count
	</p>
	
	<div class="chart">
		<h2>Letter Density</h2>
		<p>No characters found. Start typing to see letter density.</p>
	</div>
</main>

<script>
	import "../scripts/main.js";
</script>