---
---

<main>
	<img src="/images/logo-light-theme.svg" alt="Character Counter">
	<button>Change theme</button>

	<h1>Analyze your text in real-time.</h1>

	<textarea name="" id="text-area" placeholder="Start typing here… (or paste your text)"></textarea>

	<hr>

	<label for="ExcludeSpaces">
		Exclude Spaces
		<input type="checkbox" name="" id="ExcludeSpaces">
	</label>

	<label for="SetCharLimit">
		Set Character Limit
		<input type="checkbox" name="" id="SetCharLimit">
	</label>

	<p>Approx. reading time: 2 minutes</p>

	<p><b data-char-display>0</b> Total Characters</p>

	<p><b data-word-display>0</b> Word Count</p>
	
	<p><b data-sentence-display>0</b> Sentence Count</p>
	
	<h2>Letter Density</h2>
	<p>No characters found. Start typing to see letter density.</p>
</main>

<script>
	import "../scripts/main.js";
</script>