---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<main>
	<img src="/images/logo-light-theme.svg" alt="Character Counter">
	<button>Change theme</button>

	<h1>Analyze your text in real-time.</h1>

	<textarea name="" id="" placeholder="Start typing here… (or paste your text)"></textarea>

	<hr>

	<label for="ExcludeSpaces">
		Exclude Spaces
		<input type="checkbox" name="" id="ExcludeSpaces">
	</label>

	<label for="SetCharLimit">
		Set Character Limit
		<input type="checkbox" name="" id="SetCharLimit">
	</label>

	<p>Approx. reading time: 2 minutes</p>

	<p>
		<b>278</b>
		Total Characters
	</p>

	<p>
		<b>278</b>
		Word Count
	</p>
	
	<p>
		<b>278</b>
		Sentence Count
	</p>
	
	<h2>Letter Density</h2>
	<p>No characters found. Start typing to see letter density.</p>
</main>