---
import '../styles/styles.css'
---

<main>
	<img class="logo" src="/images/logo-light-theme.svg" alt="Character Counter">
	<button class="theme-toggle">Change theme</button>

	<h1 class="main-heading">Analyze your text in real-time.</h1>

	<div class="text-processor">
		<textarea class="text-processor__input" name="" id="text-area" placeholder="Start typing here… (or paste your text)"></textarea>

		<div class="text-processor__settings">
			<label for="ExcludeSpaces">
				<input type="checkbox" name="" id="ExcludeSpaces">
				Exclude Spaces
			</label>
		
			<label for="SetCharLimit">
				<input type="checkbox" name="" id="SetCharLimit">
				Set Character Limit
			</label>
		
			<p class="text-processor__read-time">Approx. reading time: 2 minutes</p>
		</div>
	</div>

	<div class="results">
		<div class="results__cards">
			<p class="counter   counter--chars">
				<b class="counter__number" data-char-display>0</b> Total Characters
			</p>
		
			<p class="counter   counter--words">
				<b class="counter__number" data-word-display>0</b> Word Count
			</p>
			
			<p class="counter   counter--sentence">
				<b class="counter__number" data-sentence-display>0</b> Sentence Count
			</p>
		</div>

		<div class="results__chart">
			<h2>Letter Density</h2>
			<p>No characters found. Start typing to see letter density.</p>
		</div>
	</div>
</main>

<script>
	import "../scripts/main.js";
</script>